<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Select</h2>
            <form action="/sales" method="get">
                <button class="btn" type="submit">OnePlus</button>
            </form>
            <form action="/economic" method="get">
                <button class="btn" type="submit">Economic</button>
            </form>
        </div>
    </div>
    <footer>
        Made with ❤️ by <a href="https://t.me/FuckTgABCDEFGHIJKLMNOPQRSTUVWXYZ"></a>Tausif
    </footer>
</body>
</html>
